<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LoggingPath" value="./BasicOrderSystem.WindowsForms.log" />
		<add key="LoggingFormat" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level:u3}] {Message:lj}{NewLine}{Exception}" />
		<add key="OrderAPIBaseAddress" value=""/>
	</appSettings>
</configuration>